<%= link_to "Sign out", signout_path, id: "sign_out" %>

<div id="users-present" style="display:<%= @users.any? ? 'block' : 'none' %>">
  Select an opponent.
</div>

<div id="users-absent" style="display:<%= @users.any? ? 'none' : 'block' %>">
  Looks like no one else is online.
</div>

<ul id="opponents">
  <% @users.each do |user| %>
    <%= render @users, played_user_on: @current_user.date_played(user) %>
  <% end %>
</ul>

<%= hidden_field_tag "current_user", @current_user.id %>

<%= subscribe_to new_user_path %>
<%= subscribe_to new_game_path %>
<%= subscribe_to available_members_users_path %>
