<%= javascript_include_tag params[:controller] %>
<%= subscribe_to action_game_path(@game.id) %>
<%= subscribe_to action_player_path(@them.id) %>

<div id="them-name-container">
  <strong id="them-name" data-id="<%= @you.id %>">
    <%= @them.name %>
  </strong>
</div>

<div id="gameplay">
  <% if @game.opponent_accepted %>
    <div id="notice"></div>
    <div class="left" id="field-portion">
      <table id="field">
        <tr class="base them-base">
          <td class="them-field" id="<%= @you.id %>_0"></td>
          <td class="you-field" id="<%= @them.id %>_13"></td>
        </tr>
        
        <% 12.times do |n| %>
          <tr class="battle-fields">
            <td class="field them-field" id="<%= @you.id %>_<%= n + 1 %>"></td>
            <td class="field you-field" id="<%= @them.id %>_<%= 12 - n %>"></td>
          </tr>
        <% end %>

        <tr class="base you-base">
          <td class="them-field" id="<%= @you.id %>_13"></td>
          <td class="you-field" id="<%= @them.id %>_0"></td>
        </tr>
      </table>
    </div>
    <div class="right">
      <div id="timer-display"></div>
      <div id="action-portion">
        <% @actions.each do |action, name| %>
          <button id="<%= action %>" 
                  data-played-by="<%= @them.id %>"
                  data-played-on="<%= @you.id %>"
                  data-game-id="<%= @game.id %>"
                  class="action-button">
            <%= name %>
          </button>
        <% end %>
      </div>
    </div>
    <% unless @game.started? %>
      <%= render partial: 'instructions', locals: { game: @game, them: @them } %>
    <% end %>
  <% else %>
    <%= render partial: 'waiting' %>
  <% end %>

</div>

<div id="you-name-container">
  <strong id="you-name" data-id="<%= @you.id %>">
    <%= @you.name %>
  </strong>
</div>


<script>
  <% @them.active_traps.each do |trap| %>
    window.traps(<%= @them.id %>, <%= trap.position %>);
  <% end %>

  window.base(<%= @them.id %>, <%= @them.base_position %>);

  <% [@them, @you].each do |player| %>
    window.move(<%= player.id %>, <%= player.position %>);
  <% end %>

  $("button").click(function(e){
    $target = $(e.target);
    $('button').removeClass("selected");
    $target.addClass("selected");
  })
</script>

