<%= javascript_include_tag params[:controller] %>
<%= subscribe_to action_game_path(@game.id) %>
<%= subscribe_to ready_game_path(@game.id) %>
<%= subscribe_to action_player_path(@opponent.id) %>

<div id="them-name-container">
  <strong id="them-name" data-id="<%= @player.id %>">
    <%= @opponent.name %>
  </strong>
</div>

<div id="wager">
  <%= money_to_s(@game.wager) %>
</div>

<div id="gameplay">
  <% if @game.opponent_ready %>
    <div id="notice"></div>
    <div class="left" id="field-portion">
      <table id="field">
        <tr class="base them-base">
          <td class="them-field" id="<%= @player.id %>_0"></td>
          <td class="you-field" id="<%= @opponent.id %>_13"></td>
        </tr>
        
        <% 12.times do |n| %>
          <tr class="battle-fields">
            <td class="field them-field" id="<%= @player.id %>_<%= n + 1 %>"></td>
            <td class="field you-field" id="<%= @opponent.id %>_<%= 12 - n %>"></td>
          </tr>
        <% end %>

        <tr class="base you-base">
          <td class="them-field" id="<%= @player.id %>_13"></td>
          <td class="you-field" id="<%= @opponent.id %>_0"></td>
        </tr>
      </table>
    </div>
    <div class="right">
      <div id="timer-display"></div>
      <div id="action-portion">
        <% @actions.each do |action, name| %>
          <button id="<%= action %>" 
                  data-played-by="<%= @opponent.id %>"
                  data-played-on="<%= @player.id %>"
                  data-game-id="<%= @game.id %>"
                  class="action-button">
            <%= name %>
          </button>
        <% end %>
      </div>
    </div>
    <% unless @game.started? %>
      <%= render partial: 'instructions', locals: { game: @game, them: @opponent } %>
    <% end %>
  <% else %>
    <%= render partial: 'waiting' %>
  <% end %>

</div>

<div id="you-name-container">
  <strong id="you-name" data-id="<%= @player.id %>">
    <%= @player.name %>
  </strong>
</div>

<% if @game.opponent_ready? %>
  <script>
    <% @opponent.active_traps.each do |trap| %>
      window.traps(<%= @opponent.id %>, <%= trap.position %>);
    <% end %>

    window.base(<%= @opponent.id %>, <%= @opponent.base_position %>);

    <% [@opponent, @player].each do |player| %>
      window.move(<%= player.id %>, <%= player.position %>);
    <% end %>

    window.disableButtons(<%= @player.position %>, <%= @player.base_position %>);
    window.bindButtons();
  </script>
<% end %>

